* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.themeBtn {
  border: none;
  background: none;
  font-size: 26px;
  margin-top: 5px;
}
.dark {
  background: #1c1c1cd7;
  color: #fff !important;
}
.app {
  background: #fff;
  color: #000;
}
